

<div class="sidebar" data-background-color="black" data-active-color="warning">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.insightviz.com" class="simple-text">
                    Insight Viz
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/">
                        <i class="ti-search"></i>
                        <p>Discover</p>
                    </a>
                </li>
                <li>
                    <a href="/visualize">
                        <i class="ti-panel"></i>
                        <!-- <i class="ti-user"></i>ti-panel -->
                        <p>Visualize</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <!-- <i class="ti-view-list-alt"></i> -->
                        <i class="ti-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="ti-settings"></i>
                        <p>Manage</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>


