<script type="text/javascript">
    function cancel()
    {
     return false;
    }

</script>
<div id="guided_nav">

    <form method="POST" action="/" />
        {% csrf_token %}
        <select id="index_choice" name="index_choice" onchange="this.form.submit()">
            {% for name in index_names %}
            <option {% if selected_index == name %} selected="selected"{% endif %} value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </form>

    <div>
        <ul>
    {% for dim in guided_nav %}
        {% for dim_name, dim_values in dim.items %}
            <li class="dimension">{{dim_name}}</li>
            <ul>
                {% for val in dim_values %}
                    <li class="dimvalue"><a onclick="" href="/?F={{dim_name}}:{{val.0}}">{{val.0}} ({{val.1}})</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
        </ul>
    </div>

</div>